name: markdownlint
on:
  pull_request:
    paths:
      - 'README.md'
      - 'docs/*.md'
      - '.markdownlint.yml'
      - '.github/workflows/markdownlint.yml'
  push:
    branches: [main]
    paths:
      - 'README.md'
      - 'docs/*.md'
      - '.markdownlint.yml'
      - '.github/workflows/markdownlint.yml'
  workflow_dispatch:
jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            README.md
            docs/*.md
